<p>
  track-list works!
</p>



<div class="mapa">
<agm-map [latitude]="tracks[0].coordinates.lat" [longitude]="tracks[0].coordinates.lng">
    <div *ngFor="let track of tracks">
  <agm-marker [latitude]="track.coordinates.lat" [longitude]="track.coordinates.lng"></agm-marker>
</div>
</agm-map>
</div>


<div *ngFor="let track of tracks">
  <div class="container-track">
    <h2>{{track.name}}</h2>
    <img class="container-track__track-image" src="{{track.image}}" alt="">
    <p>Duración: {{track.duration}}</p>
    <p>Horario: {{track.schedules}}</p>
    <p>Precio: {{track.price}}</p>
    <button>{{track.audio}}</button>
    <p>Descripción: {{track.description}}</p>
  </div>
</div>
