agm-map {
  height: 300px;
  width: 100%;
}

.margin {
  margin: 2.7rem 0;
}

.mapa {
  margin: 0.5rem;
  border: 2px solid #2c4251;
  margin: 2.5rem 0;
}

.container-embassy {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #fff;
  box-shadow: 4px 4px 8px #888888;
  border-radius: 2%;
  text-align: center;
}

.container-embassy__title {
  text-transform: uppercase;
  font-weight: bold;
}

.container-embassy__info {
  margin: 0;
}
