<div>
  <div class="container-comment-text">
      <textarea [(ngModel)]="comment.text" name="" id="" cols="30" rows="5" placeholder="Escribe tu comentario"></textarea>
    <button (click)="saveComment()">Enviar comentario</button>
  </div>
  <div class="container-comment">
    <div *ngFor="let c of comments" class="container-comment__box">
      <ul class="container-comment__box__ul">
          <li class="container-comment__box__ul__username">{{c.ownerId.username}}</li>
        <li>{{c.text}}</li>
        <button (click)="deleteComment(c._id)">Eliminar comentario</button>
      </ul>
    </div>
  </div>
</div>
