<p>
  comment works!
</p>

<div>
  <div>
    <label for="text" name="text">Texto</label>
    <input [(ngModel)]="comment.text">
    <button (click)="saveComment()">Enviar comentario</button>
  </div>
  <div class="container-comment">
    <div *ngFor="let c of comments" class="container-comment__div">
      <ul class="container-comment__div__ul">
        <li>{{c.ownerId.username}}</li>
        <li>{{c.text}}</li>
        <button (click)="deleteComment(c._id)">Eliminar comentario</button>
      </ul>
    </div>
  </div>
</div>
