agm-map {
  height: 300px;
  width: 100%;
}

.mapa {
  margin: 0.5rem;
  border: 2px solid #2c4251;
  margin: 2.5rem 0;
}

.container-visit {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0.5rem;
  flex-direction: column;
  box-shadow: 4px 4px 8px #888888;
  background-color: #fff;
}

.container-visit__img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.container-visit__title {
  margin: 1rem 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.container-visit__info {
  font-size: 1rem;
  text-align: justify;
}

.container-visit__button {
  display: flex;
  justify-content: center;
}

.container-visit-button__button {
  padding: 0.5rem;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.container-visit-button__button__link {
  color: black;
}
