<p>
  LISTA DE RUTAS
</p>

<div class="container-route">
  <div *ngFor="let route of routes">
    <img class="route-img" src="{{route.image}}" alt="">
    <h2>{{route.name}}</h2>
    <p>Duración: {{route.duration}}</p>
    <p>Precio: {{route.price}}</p>
    <button>{{route.audio}}</button>
    <p>Descripción: {{route.description}}</p>
    <p>Puntos de interés:</p>
    <ul>
      <li *ngFor="let track of route.tracks">{{track.name}}</li>
    </ul>

    <div>
      <button>
          <a [routerLink]="['/routes', route._id, 'comments']">Comentarios</a>
      </button>
      <button>
        <a [routerLink]="['/routes', route._id]">+ Info</a>
      </button>
    </div>
  </div>
</div>
