<div class="mapa" *ngIf="mapOn">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <div *ngIf="visit">
      <agm-marker [latitude]="visit.location.lat" [longitude]="visit.location.lng">
        <agm-info-window [disableAutoPan]="true" [isOpen]="visible">
          <strong>{{visit.name}}</strong>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
<div *ngIf="visit">
  <div class="container-visit-info">
    <iframe *ngIf='visit.video' [src]="visit.video | safe" height="250" width="250"></iframe>
    <h3 class="container-visit-info__title">{{visit.name}}</h3>
    <p>{{visit.description.text}}</p>
    <p class="container-visit-info__info">
      <b>Dirección</b>
    </p>
    <p class="container-visit-info__detail">{{visit.address}}</p>
  </div>
</div>
