<div class="dropdown show navbar">
  <div>
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg width="32px" height="32px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Buguer Meny</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <path d="M3,5 L21,5" id="Line" stroke="#2C4251" stroke-width="3" fill-rule="nonzero"></path>
          <path d="M3,12 L21,12" id="Line" stroke="#2C4251" stroke-width="3" fill-rule="nonzero"></path>
          <path d="M3,19 L21,19" id="Line" stroke="#2C4251" stroke-width="3" fill-rule="nonzero"></path>
        </g>
      </svg>
    </a>
    <div *ngIf="sessionService.user" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <ul class="dropdown-menu__ul" >
        <li *ngIf="sessionService.user">
          <a [routerLink]="['/']">Inicio</a>
        </li>
        <li *ngIf="sessionService.user">
          <a [routerLink]="['/routes']">Rutas</a>
        </li>
        <li *ngIf="sessionService.user">
          <a [routerLink]="['/visits']">Puntos de interés - Madrid</a>
        </li>
        <li *ngIf="sessionService.user">
          <a [routerLink]="['/embassies']">Embajadas</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <img class="navbar__logo" src="../assets/images/logo.png">
  </div>
  <div>
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg class="navbar__perfil-logo" width="32px" height="32px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>UserI con</title>
        <defs></defs>
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <circle id="Oval" stroke="#2C4251" fill="#2C4251" fill-rule="nonzero" cx="12" cy="6" r="5"></circle>
          <path d="M21.9459425,22.4474046 C19.7036309,15.7882235 16.3793072,12.4586329 11.9729712,12.4586329 C7.5666353,12.4586329 4.24231155,15.7882235 2,22.4474046 C6.17808254,22.9869415 9.50240628,23.25671 11.9729712,23.25671 C14.4435362,23.25671 17.7678599,22.9869415 21.9459425,22.4474046 Z"
            id="Oval-2" stroke="#2C4251" fill="#2C4251" fill-rule="nonzero"></path>
        </g>
      </svg>
    </a>
    <div class="dropdown-menu navbar__logo__dropdown" aria-labelledby="dropdownMenuLink">
      <ul>
        <!-- <li *ngIf="sessionService.user">
          <a [routerLink]="['/profile']">Perfil</a>
        </li> -->
        <li *ngIf="!sessionService.user">
          <a [routerLink]="['/signup']">Registro</a>
        </li>
        <li *ngIf="!sessionService.user">
          <a [routerLink]="['/login']">Iniciar sesión</a>
        </li>
        <li *ngIf="sessionService.user">
          <a href="/" (click)="logout()">Desconectar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
