form {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form .form-row {
  margin-bottom: 1rem;
  position: relative;
}
form .form-row:last-child {
  margin-bottom: 0;
}
form .form-row input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  outline: 0;
}
form .form-row input[type="text"] + label[data-placeholder] {
  pointer-events: none;
}
form .form-row input[type="text"] + label[data-placeholder]:after {
  content: attr(data-placeholder);
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  transition: all 0.5s ease-in-out;
  padding: 0 0.25rem;
  background-color: rgba(255, 255, 255, 0);
}
form .form-row input[type="text"]:focus,
form .form-row input[type="text"]:valid {
  border: 1px solid #b6c649;
}
form .form-row input[type="text"]:focus + label[data-placeholder]:after,
form .form-row input[type="text"]:valid + label[data-placeholder]:after {
  -webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
  transform: translate(-5%, -150%) scale(0.9, 0.9);
  color: #b6c649;
  background-color: white;
}

form {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form .form-row {
  margin-bottom: 1rem;
  position: relative;
}
form .form-row:last-child {
  margin-bottom: 0;
}
form .form-row input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  outline: 0;
}
form .form-row input[type="password"] + label[data-placeholder] {
  pointer-events: none;
}
form .form-row input[type="password"] + label[data-placeholder]:after {
  content: attr(data-placeholder);
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  transition: all 0.5s ease-in-out;
  padding: 0 0.25rem;
  background-color: rgba(255, 255, 255, 0);
}
form .form-row input[type="password"]:focus,
form .form-row input[type="password"]:valid {
  border: 1px solid #b6c649;
}
form .form-row input[type="password"]:focus + label[data-placeholder]:after,
form .form-row input[type="password"]:valid + label[data-placeholder]:after {
  -webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
  transform: translate(-5%, -150%) scale(0.9, 0.9);
  color: #b6c649;
  background-color: white;
}
