<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div>
    <img src="../assets/burguer-menu.svg">
  </div>
  <div>
    <img class="navbar__logo" src="../assets/LogoMakr_6ln5F7.png">
  </div>
  <div>
    <img src="../assets/user icon.svg">
  </div>
</div>



<ul>
  <li>
    <a [routerLink]="['/']">HOME</a>
  </li>
  <li *ngIf="!sessionService.user">
    <a [routerLink]="['/signup']">Signup</a>
  </li>
  <li *ngIf="!sessionService.user">
    <a [routerLink]="['/login']">Login</a>
  </li>
  <li *ngIf="sessionService.user">
    <a href="#" (click)="logout()">Logut</a>
  </li>
</ul>



<router-outlet></router-outlet>
